<a class="dropdown-item" href="/users/profile/{{userActive.username}}"><i class="ti-user m-r-5 m-l-5"></i>
    {{userActive.fullName}}</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
    Mesajlar</a>
<a class="dropdown-item" href="/settings"><i class="ti-settings m-r-5 m-l-5"></i>
    Ayarlar</a>

{{#ifCond userType '==' 0}}
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/users"><i class="fas fa-users m-r-5 m-l-5"></i>
    Kullanıcılar</a>
{{/ifCond}}

<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i>
    Güvenli Çıkış</a>